li {
    margin-bottom: 15px;
}

.my-photo {
    border-radius: 45px;
}

.github-logo {
    width: 150px;
    height: auto;
}

.telegram-logo {
    width: 50px;
    height: auto;
}

.email-logo {
    width: 50px;
    height: auto;
}

.my-words {
    color: #4C5454
}

.card-div {
    width: 259px;
}
